body {
  overflow: hidden;
  margin: 0;
}

#view {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: black;
}

.hdri {
  width: 100%;
  height: 100%;
  position: absolute;
  perspective: 1px;
}
#view:not(.mobile) .hdri {
  transform-origin: center -50vh;
  perspective-origin: center 50vh;
}
#view.mobile .hdri {
  transform-origin: -50vw center;
  perspective-origin: 50vw center;
}

.frame {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
}
.frame.sub:not(.VR-on) {
  display: none;
}
#view:not(.mobile) .VR-on {
  width: 49.5vw;
}
#view.mobile .VR-on {
  height: 49.5vh;
}
.frame:first-child {
  left: 0;
  top: 0;
}
.frame:last-child {
  right: 0;
  bottom: 0;
}

.box {
  width: 100vw;
  height: 100vw;
  position: absolute;
  transform-style: preserve-3d;
}
.VR-on .box {
  width: 50vw;
  height: 50vw;
}

.face>img {
  width: 100%;
  height: auto;
  position: absolute;
  backface-visibility: hidden;
}
.face>img:first-child {
  width: calc(100% + 1px);
}


.gui {
  width: 100%;
  height: 100%;
  position: absolute;
  perspective: 50vw;
  transform-origin: center center;
}
.primary .gui {
  perspective-origin: 45% center;
}
.sub .gui {
  perspective-origin: 55% center;
}
.gui-content {
  position: absolute;
}
.gui-content.front {
  z-index: 6;
}
.gui-content.back {
  z-index: 4;
}
#view:not(.mobile) .gui-content {
  width: 100vw;
  height: 100vh;
}
#view:not(.mobile) .VR-on .gui-content {
  width: 50vw;
}
#view.mobile .gui-content{
  width: 100vh;
  height: 100vw;
  top: calc(50vh - 50vw);
  left: calc(50vw - 50vh);
  transform: rotate(90deg);
}
#view.mobile .VR-on .gui-content{
  width: 49.5vh;
  top: calc(24.75vh - 50vw);
  left: calc(50vw - 24.75vh);
}
.VR-frame {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
}
.VR-frame {
  display: none;
}
.VR-on .VR-frame {
  display: block;
}

.cardboard-icon {
  width: 70px;
  height: auto;
  position: absolute;
  right: 4%;
  bottom: 4%;
  opacity: 0.6;
}
.primary.VR-on .cardboard-icon {
  right: 2%;
}
.sub.VR-on .cardboard-icon {
  right: 7%;
}
#view:not(.mobile) .cardboard-icon:hover {
  opacity: 0.9;
}
